@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #141414;
  --secondary-color: #cfcfcf;
  --tertiary-color: #ef2a2a;
  --background-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  color: var(--primary-color);
  font-size: 18px;
  color: var(--primary-color);
}

body {
  background-color: var(--background-color);
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ---------HEADER--------- */

header {
  padding: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
}
header > nav {
  width: 100%;
}

header > img {
  width: 70px;
  object-fit: contain;
}

header ul {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 20px;
}
header ul li:first-child {
  width: 100%;
  display: flex;
  margin-right: 30px;
  margin-left: 60px;
}

header input {
  width: 100%;
  padding-left: 20px;
  margin-right: 20px;
}

/* -----------MAIN--------- */

main {
  display: flex;
  
}
/* ----CATEGORIAS---- */

#categorias {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--secondary-color);
  height: 100%;
  z-index: 1;
  position: sticky;
  left: 0;
  top: 0;

}

#categorias ul {
  display: block;
}

#categorias li {
  position: fix;
  padding: 20px 10px 10px 10px;
  border-bottom: 2px solid var(--secondary-color);
  font-weight: bold;
  cursor: pointer;
}

#categorias li > img {
  width: 20px;
  object-fit: contain;
  float: right;
  margin-left: 10px;
}

#categorias li:hover {
  background-color: var(--tertiary-color);
  color: var(--background-color);
}

@media (max-width: 620px) {
  main {
    
    flex-direction: column;
  }
  #categorias ul {
    
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 5px;
  }
  #categorias li {
    font-size: 2vw;
    padding: 2vw 1vw;
    border: none;
  }
  #categorias img {
    display: none;
  }


  header input {
    display: none;
  }
}

/* -----TIENDA---- */

#tienda {
  flex-grow: 1;  
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  border-left: 1px solid var(--secondary-color);
}

#tienda > article {
  margin: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: scale 0.4s ease;
  cursor: pointer;
}

#tienda div {
  display: flex;
  gap: 10px;
}

#tienda > article > img {
  min-width: 100%;
  object-fit: cover;
}

#tienda div > img {
  width: 20px;
  object-fit: contain;
}

.precio {
  font-size: 30px;
  font-weight: bold;
}

.vendedor {
  font-size: 12px;
}
.vendedor > span {
  font-size: 12px;
  font-weight: bold;
}

#tienda article:hover {
  scale: 1.15;
}

/* -----------FOOTER---------- */
footer {
  padding: 20px 50px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}
footer h3 {
  padding-bottom: 5px;
  padding-right: 20px;
  margin-bottom: 10px;
  border-bottom: 3px dashed var(--primary-color);
}

footer img {
  width: 30px;
  object-fit: contain;
  margin: 10px;
}
footer a {
  font-weight: bold;
  color: var(--background-color);
}
